<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ek222re</title>
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>
    <body>
        <h1>RTW ISSUES</h1>

        <div id="main">
            {{{body}}}
        </div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.js"></script>
    </body>
</html>