<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ek222re</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div id="main">
        {{{body}}}
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascript/script.js"></script>
</body>

</html>
