html {
    height: 100%;
}
* {
    font: 16px 'Lucinda';
    margin: 0;
    padding: 0;
}
body {
    padding-top: 0;
    background-color: pink;
}
#id {
    color: red;
}
.issueDiv {
    background-color: burlywood;
    color: darkmagenta;
}
.eachIssue {
    color: darkgreen;
}
.issueList {
    color: pink;
}
.notifDiv {
    color: blue;
}
.notifList {
    color: black;
}