<div>
    <div id="notifDiv">
        <i class="far fa-bell"></i>
        <span class="closebtn" onclick="clearMessages()">&times;</span>
        <strong>Information!</strong>
        <ul id="messages"></ul>
    </div>
</div>

<div class="issueDiv">
    <div class="eachIssue">
    </div>
    <ul id="issue" class="issueList"></ul>
    {{#if issues}}
    {{/if}}
    </ul>
</div>
